### String

In [1]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라  '

# ----------------------

# tale을 출력하시오..
# '지'를 출력하시오..
# 'a'는 몇 개가 존재하는가?
# txt1에서 모음의 갯수는 몇 개인가?
# '또한'을 '것도'로 수정하시오
# txt1을 대문자로 출력하시오..
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
# txt1을 space를 기준으로 나누어서 리스트에 담으시오..
# txt2의 길이는 얼마인가?
# txt2를 character 단위로 나누어서 리스트에 담으시오..
# txt1의 좌우 공백을 제거하시오..
# txt2를 역순으로 출력하시오..
# txt1에서 짝수 인덱스만 출력하시오..
# txt2를 두 번 반복하시오..
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오..
# txt1에서 'right'이 존재하는지 확인하시오..
# txt1에서 뒤에서 5번째 문자를 출력하시오..
# txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오..

url = 'http://www.naver.com/news/today=20221230'
# url중 도메인만 출력하시오

log = 'name : 홍길동, age:17, sex: 남성, nation : 대한민국 '
# 아래와 같이 출력하시오.
# name => '홍길동'
# age => 17
# sex => 남성
# ...

In [ ]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라  '

In [3]:
# tale을 출력하시오..
txt1[4:8]

'tale'

In [4]:
# '지'를 출력하시오..
txt2[5]

'지'

In [6]:
# 'a'는 몇 개가 존재하는가?
txt1.count('a')

3

In [7]:
# txt1에서 모음의 갯수는 몇 개인가?
suma = 0
for c in txt1:
    if c in 'aeiouAEIOU':
        suma +=1
suma

7

In [9]:
# '또한'을 '것도'로 수정하시오
txt2.replace('또한', '것도')

'이 것도 지나가리라  '

In [10]:
# txt1을 대문자로 출력하시오..
txt1.upper()

'  A TALE THAT WAS NOT RIGHT  '

In [11]:
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
txt1.find('right')

22

In [12]:
txt1.index('right')

22

In [13]:
txt1.find('heaven')

-1

In [14]:
txt1.index('heaven')

ValueError: substring not found

In [15]:
# txt1을 space를 기준으로 나누어서 리스트에 담으시오..
txt1.split()

['A', 'tale', 'that', 'was', 'not', 'right']

In [16]:
# txt2의 길이는 얼마인가?
len(txt1)

29

In [17]:
# txt2를 character 단위로 나누어서 리스트에 담으시오..
list(txt2)

['이', ' ', '또', '한', ' ', '지', '나', '가', '리', '라', ' ', ' ']

In [20]:
# txt1의 좌우 공백을 제거하시오..
txt1.strip()

'A tale that was not right'

In [21]:
# txt2를 역순으로 출력하시오..
txt2[::-1]

'  라리가나지 한또 이'

In [23]:
txt2

'이 또한 지나가리라  '

In [ ]:
# txt1에서 짝수 인덱스만 출력하시오..
txt2[0:30:2]

In [28]:
# txt2를 두 번 반복하시오..
txt2*2

'이 또한 지나가리라  이 또한 지나가리라  '

In [29]:
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오..
txt1 + txt2

'  A tale that was not right  이 또한 지나가리라  '

In [30]:
# txt1에서 'right'이 존재하는지 확인하시오..
'right' in txt1

True

In [31]:
# txt1에서 뒤에서 5번째 문자를 출력하시오..
txt1[-5]

'g'

In [32]:
# txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오..
[(i, c) for i, c in enumerate(txt1)]

[(0, ' '),
 (1, ' '),
 (2, 'A'),
 (3, ' '),
 (4, 't'),
 (5, 'a'),
 (6, 'l'),
 (7, 'e'),
 (8, ' '),
 (9, 't'),
 (10, 'h'),
 (11, 'a'),
 (12, 't'),
 (13, ' '),
 (14, 'w'),
 (15, 'a'),
 (16, 's'),
 (17, ' '),
 (18, 'n'),
 (19, 'o'),
 (20, 't'),
 (21, ' '),
 (22, 'r'),
 (23, 'i'),
 (24, 'g'),
 (25, 'h'),
 (26, 't'),
 (27, ' '),
 (28, ' ')]

In [35]:
url = 'http://www.naver.com/news/today=20221230'
# url중 도메인만 출력하시오
url.split('/')[2]

'www.naver.com'

In [39]:
log = 'name : 홍길동, age:17, sex: 남성, nation : 대한민국 '
# 아래와 같이 출력하시오.
# name => '홍길동'
# age => 17
# sex => 남성
# ...

for i in log.split(','):
    name = i.split(':')[0].strip()
    value = i.split(':')[1].strip()
    print(name, '=>', value)

name => 홍길동
age => 17
sex => 남성
nation => 대한민국

In [40]:
text = """
서울·인천=연합뉴스) 고동욱 홍준석 기자 = 더불어민주당 이재명 대선후보는 14일 
"기획재정부가 오늘 소상공인 지원 예산을 위한 추가경정예산안을 편성한다고 
발표했는데, 또 조금만 했더라"고 말했다.

이 후보는 이날 오전 매타버스(매주 타는 민생버스) 인천 일정을 시작하기에 앞서 
유튜브로 진행한 출발 인사에서 이같이 밝혔다.
"""

text

'\n서울·인천=연합뉴스) 고동욱 홍준석 기자 = 더불어민주당 이재명 대선후보는 14일 \n"기획재정부가 오늘 소상공인 지원 예산을 위한 추가경정예산안을 편성한다고 \n발표했는데, 또 조금만 했더라"고 말했다.\n\n이 후보는 이날 오전 매타버스(매주 타는 민생버스) 인천 일정을 시작하기에 앞서 \n유튜브로 진행한 출발 인사에서 이같이 밝혔다.\n'

In [41]:
text =  "기획재정부가 오늘 '소상공인' 지원 예산을 위한 추가경정예산안"
text

"기획재정부가 오늘 '소상공인' 지원 예산을 위한 추가경정예산안"

In [43]:
text =  '기획재정부가 오늘 "소상공인" 지원 예산을 위한 추가경정예산안'
text

'기획재정부가 오늘 "소상공인" 지원 예산을 위한 추가경정예산안'

In [44]:
text =  '기획재정부가 오늘 \
"소상공인" 지원 예산을 \
위한 추가경정예산안'

text

'기획재정부가 오늘 "소상공인" 지원 예산을 위한 추가경정예산안'

### datatype

1. 기본형
- int :95
- float : 95.8
- bool : True, False
    
2. 군집형 (여러 요소가 모여서 하나의 데이터 형식)
- string : '' , 요소의 수정,삭제,추가 안 됨.., 순서,인덱스 존재
- list :  [], 요소의 수정,삭제,추가가 자유로움.. 순서,인덱스 존재
- tuple : (), 요소의 수정,삭제,추가 안 됨.., 수정하지 않을 값, 보조용, 순서,인덱스 존재
- set : {}, 집합. 요소의 삭제,추가 안 됨. 중복요소가 없다. 집합연산, 순서,인덱스 X
- dictionary : {key:value}, 요소의 수정,삭제,추가가 자유로움. 데이터의 저장(json과 유사), 순서 없고, 인덱스는 key가 역할

### List

In [45]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3)]

In [47]:
# 't'를 출력하시오..
score[3][2]

't'

In [49]:
# 56을 출력하시오..
score[-2][1]

56

In [51]:
# 마지막 요소의 최대값을 출력하시오
max(score[-1])

25

In [52]:
# 'python'을 'world'로 수정하시오.
score[3] = 'world'
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [53]:
# 마지막에 'sun'을 추가하시오.
score.append('sun')

In [54]:
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [55]:
# 'world'가 있는지 확인하시오..
'world' in score

True

In [58]:
# 마지막에서 2 번쨰 요소를 내림차순으로 정렬하시오..
sorted(score[-2], reverse=True)

[25, 24, 3]

In [60]:
# 90은 몇 번째 인덱스에 있는지 확인하시오..
score.index(90)

1

In [70]:
# 리스트를 역순으로 정렬하시오..
score.reverse()
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [71]:
# 0번째 인덱스에 'sea'를 추가하시오
score.insert(0, 'sea')
score

['sea', 81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [74]:
# True를 False로 수정하시오..
score[score.index(True)] = False
score

['sea', 81, 90, 78, 'world', 'hello', False, [78, 56, 32], (24, 25, 3), 'sun']

In [75]:
# 'world'를 제거하시오
score.remove('world')
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32], (24, 25, 3), 'sun']

In [76]:
# 7번쨰 요소를 제거하시오..
score.pop(7)
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32], 'sun']

In [77]:
# 마지막 요소를 제거하시오..
score.pop()

'sun'

In [78]:
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32]]

In [79]:
# 리스트의 길이를 출력하시오
len(score)

7

In [81]:
# 두 번째 요소의 데이터타입을 출력하시오..
type(score[1])

int

In [96]:
":".join(['78', '56', '32'])

'78:56:32'

In [94]:
":".join([str(s) for s in [78, 56, 32]])

'78:56:32'

In [93]:
# [78, 56, 32]를 "78:56:32"로 수정하시오..
score[score.index([78, 56, 32])] = ":".join([str(s) for s in [78, 56, 32]])
score

['sea', 81, 90, 78, 'hello', False, '78:56:32']

In [98]:
# 모든 원소를 제거하시오
score.clear()
score

[]

In [ ]:
# 리스트를 삭제하시오..

In [99]:
del score

In [100]:
score

NameError: name 'score' is not defined