### String

In [1]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라  '

# ----------------------

# tale을 출력하시오..
# '지'를 출력하시오..
# 'a'는 몇 개가 존재하는가?
# txt1에서 모음의 갯수는 몇 개인가?
# '또한'을 '것도'로 수정하시오
# txt1을 대문자로 출력하시오..
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
# txt1을 space를 기준으로 나누어서 리스트에 담으시오..
# txt2의 길이는 얼마인가?
# txt2를 character 단위로 나누어서 리스트에 담으시오..
# txt1의 좌우 공백을 제거하시오..
# txt2를 역순으로 출력하시오..
# txt1에서 짝수 인덱스만 출력하시오..
# txt2를 두 번 반복하시오..
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오..
# txt1에서 'right'이 존재하는지 확인하시오..
# txt1에서 뒤에서 5번째 문자를 출력하시오..
# txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오..

url = 'http://www.naver.com/news/today=20221230'
# url중 도메인만 출력하시오

log = 'name : 홍길동, age:17, sex: 남성, nation : 대한민국 '
# 아래와 같이 출력하시오.
# name => '홍길동'
# age => 17
# sex => 남성
# ...

In [ ]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라  '

In [3]:
# tale을 출력하시오..
txt1[4:8]

'tale'

In [4]:
# '지'를 출력하시오..
txt2[5]

'지'

In [6]:
# 'a'는 몇 개가 존재하는가?
txt1.count('a')

3

In [7]:
# txt1에서 모음의 갯수는 몇 개인가?
suma = 0
for c in txt1:
    if c in 'aeiouAEIOU':
        suma +=1
suma

7

In [9]:
# '또한'을 '것도'로 수정하시오
txt2.replace('또한', '것도')

'이 것도 지나가리라  '

In [10]:
# txt1을 대문자로 출력하시오..
txt1.upper()

'  A TALE THAT WAS NOT RIGHT  '

In [11]:
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
txt1.find('right')

22

In [12]:
txt1.index('right')

22

In [13]:
txt1.find('heaven')

-1

In [14]:
txt1.index('heaven')

ValueError: substring not found

In [15]:
# txt1을 space를 기준으로 나누어서 리스트에 담으시오..
txt1.split()

['A', 'tale', 'that', 'was', 'not', 'right']

In [16]:
# txt2의 길이는 얼마인가?
len(txt1)

29

In [17]:
# txt2를 character 단위로 나누어서 리스트에 담으시오..
list(txt2)

['이', ' ', '또', '한', ' ', '지', '나', '가', '리', '라', ' ', ' ']

In [20]:
# txt1의 좌우 공백을 제거하시오..
txt1.strip()

'A tale that was not right'

In [21]:
# txt2를 역순으로 출력하시오..
txt2[::-1]

'  라리가나지 한또 이'

In [23]:
txt2

'이 또한 지나가리라  '

In [ ]:
# txt1에서 짝수 인덱스만 출력하시오..
txt2[0:30:2]

In [28]:
# txt2를 두 번 반복하시오..
txt2*2

'이 또한 지나가리라  이 또한 지나가리라  '

In [29]:
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오..
txt1 + txt2

'  A tale that was not right  이 또한 지나가리라  '

In [30]:
# txt1에서 'right'이 존재하는지 확인하시오..
'right' in txt1

True

In [31]:
# txt1에서 뒤에서 5번째 문자를 출력하시오..
txt1[-5]

'g'

In [32]:
# txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오..
[(i, c) for i, c in enumerate(txt1)]

[(0, ' '),
 (1, ' '),
 (2, 'A'),
 (3, ' '),
 (4, 't'),
 (5, 'a'),
 (6, 'l'),
 (7, 'e'),
 (8, ' '),
 (9, 't'),
 (10, 'h'),
 (11, 'a'),
 (12, 't'),
 (13, ' '),
 (14, 'w'),
 (15, 'a'),
 (16, 's'),
 (17, ' '),
 (18, 'n'),
 (19, 'o'),
 (20, 't'),
 (21, ' '),
 (22, 'r'),
 (23, 'i'),
 (24, 'g'),
 (25, 'h'),
 (26, 't'),
 (27, ' '),
 (28, ' ')]

In [35]:
url = 'http://www.naver.com/news/today=20221230'
# url중 도메인만 출력하시오
url.split('/')[2]

'www.naver.com'

In [39]:
log = 'name : 홍길동, age:17, sex: 남성, nation : 대한민국 '
# 아래와 같이 출력하시오.
# name => '홍길동'
# age => 17
# sex => 남성
# ...

for i in log.split(','):
    name = i.split(':')[0].strip()
    value = i.split(':')[1].strip()
    print(name, '=>', value)

name => 홍길동
age => 17
sex => 남성
nation => 대한민국

In [40]:
text = """
서울·인천=연합뉴스) 고동욱 홍준석 기자 = 더불어민주당 이재명 대선후보는 14일 
"기획재정부가 오늘 소상공인 지원 예산을 위한 추가경정예산안을 편성한다고 
발표했는데, 또 조금만 했더라"고 말했다.

이 후보는 이날 오전 매타버스(매주 타는 민생버스) 인천 일정을 시작하기에 앞서 
유튜브로 진행한 출발 인사에서 이같이 밝혔다.
"""

text

'\n서울·인천=연합뉴스) 고동욱 홍준석 기자 = 더불어민주당 이재명 대선후보는 14일 \n"기획재정부가 오늘 소상공인 지원 예산을 위한 추가경정예산안을 편성한다고 \n발표했는데, 또 조금만 했더라"고 말했다.\n\n이 후보는 이날 오전 매타버스(매주 타는 민생버스) 인천 일정을 시작하기에 앞서 \n유튜브로 진행한 출발 인사에서 이같이 밝혔다.\n'

In [41]:
text =  "기획재정부가 오늘 '소상공인' 지원 예산을 위한 추가경정예산안"
text

"기획재정부가 오늘 '소상공인' 지원 예산을 위한 추가경정예산안"

In [43]:
text =  '기획재정부가 오늘 "소상공인" 지원 예산을 위한 추가경정예산안'
text

'기획재정부가 오늘 "소상공인" 지원 예산을 위한 추가경정예산안'

In [44]:
text =  '기획재정부가 오늘 \
"소상공인" 지원 예산을 \
위한 추가경정예산안'

text

'기획재정부가 오늘 "소상공인" 지원 예산을 위한 추가경정예산안'

### datatype

1. 기본형
- int :95
- float : 95.8
- bool : True, False
    
2. 군집형 (여러 요소가 모여서 하나의 데이터 형식)
- string : '' , 요소의 수정,삭제,추가 안 됨.., 순서,인덱스 존재
- list :  [], 요소의 수정,삭제,추가가 자유로움.. 순서,인덱스 존재
- tuple : (), 요소의 수정,삭제,추가 안 됨.., 수정하지 않을 값, 보조용, 순서,인덱스 존재
- set : {}, 집합. 요소의 삭제,추가 안 됨. 중복요소가 없다. 집합연산, 순서,인덱스 X
- dictionary : {key:value}, 요소의 수정,삭제,추가가 자유로움. 데이터의 저장(json과 유사), 순서 없고, 인덱스는 key가 역할

### List

In [45]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3)]

In [47]:
# 't'를 출력하시오..
score[3][2]

't'

In [49]:
# 56을 출력하시오..
score[-2][1]

56

In [51]:
# 마지막 요소의 최대값을 출력하시오
max(score[-1])

25

In [52]:
# 'python'을 'world'로 수정하시오.
score[3] = 'world'
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [53]:
# 마지막에 'sun'을 추가하시오.
score.append('sun')

In [54]:
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [55]:
# 'world'가 있는지 확인하시오..
'world' in score

True

In [58]:
# 마지막에서 2 번쨰 요소를 내림차순으로 정렬하시오..
sorted(score[-2], reverse=True)

[25, 24, 3]

In [60]:
# 90은 몇 번째 인덱스에 있는지 확인하시오..
score.index(90)

1

In [70]:
# 리스트를 역순으로 정렬하시오..
score.reverse()
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [71]:
# 0번째 인덱스에 'sea'를 추가하시오
score.insert(0, 'sea')
score

['sea', 81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [74]:
# True를 False로 수정하시오..
score[score.index(True)] = False
score

['sea', 81, 90, 78, 'world', 'hello', False, [78, 56, 32], (24, 25, 3), 'sun']

In [75]:
# 'world'를 제거하시오
score.remove('world')
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32], (24, 25, 3), 'sun']

In [76]:
# 7번쨰 요소를 제거하시오..
score.pop(7)
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32], 'sun']

In [77]:
# 마지막 요소를 제거하시오..
score.pop()

'sun'

In [78]:
score

['sea', 81, 90, 78, 'hello', False, [78, 56, 32]]

In [79]:
# 리스트의 길이를 출력하시오
len(score)

7

In [81]:
# 두 번째 요소의 데이터타입을 출력하시오..
type(score[1])

int

In [96]:
":".join(['78', '56', '32'])

'78:56:32'

In [94]:
":".join([str(s) for s in [78, 56, 32]])

'78:56:32'

In [93]:
# [78, 56, 32]를 "78:56:32"로 수정하시오..
score[score.index([78, 56, 32])] = ":".join([str(s) for s in [78, 56, 32]])
score

['sea', 81, 90, 78, 'hello', False, '78:56:32']

In [98]:
# 모든 원소를 제거하시오
score.clear()
score

[]

In [ ]:
# 리스트를 삭제하시오..

In [99]:
del score

In [100]:
score

NameError: name 'score' is not defined

### Tuple

In [1]:
# Set - 중복데이터가 없다. 순서가 없으므로 인덱스가 없다.., 집합연산..

# 원소가 없는 set인 s를 만드세요
# s에 원소 'sky'와 'earth'를 추가하세요
# s에 1,2 두 원소를 추가하세요
# s에서 'sky'를 삭제하세요

A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합을 출력
# 두 집합의 교집합을 출력
# A의 B에 대한 차집합
# 대칭차집합
# C가 A의 부분집합인지 확인
# A가 C를 포함하는지 확인

# 집합 B의 길이를 출력
# 집합 B의 최대값 출력
# 집합 B의 최소값 출력
# 집합 B의 합을 출력
# 집합 B의 평균출력
# 집합 B의 내림차순 출력
# 집합 B에 5가 포함되어 있는지 확인

In [2]:
# 원소가 없는 set인 s를 만드세요
s = set()
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')

# s에 1,2 두 원소를 추가하세요
s.update({1,2})
# s에서 'sky'를 삭제하세요
s.remove('sky')
s

{1, 2, 'earth'}

In [4]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}

# 두 집합의 합집합을 출력
A.union(B)
# 두 집합의 교집합을 출력
A.intersection(B)
# A의 B에 대한 차집합
A.difference(B)
# 대칭차집합
A.symmetric_difference(B)
# C가 A의 부분집합인지 확인
A.issupset(B)
# A가 C를 포함하는지 확인
A.issuperset(B)

# 집합 B의 길이를 출력
len(B)
# 집합 B의 최대값 출력
max(B)
# 집합 B의 최소값 출력
min(B)
# 집합 B의 합을 출력
sum(B)
# 집합 B의 평균출력
import numpy as np
np.mean(B)
# 집합 B의 내림차순 출력
sorted(B, reverse=True)
# 집합 B에 5가 포함되어 있는지 확인
5 in B

{1, 2, 3}

In [ ]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
# key에 'blue'가 있는지 확인하세요.
# mydict의 길이를 출력하세요.
# 'red'의 값을 출력하세요.
# 'red'의 값을 10으로 수정하세요.
# key값만 출력하세요
# value값만 출력하세요
# key와 value를 튜플로 출력하세요.
# (key기준으로 정렬하세요.)
# (value기준으로 정렬하세요)
# key 'blue'요소를 삭제하세요
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
# value에 20이 있는지 확인하세요.
# key는 'yellow'에 value는 30을 추가하세요.
# yourdict = {'파랑':50, '빨강':70}을 합하세요..

In [11]:
# 'mydict'라는 딕셔너리를 만드세요.
d = {}
d = dict()
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
d['red'] = 4
d['blue'] = 3
d['green'] = 1
# key에 'blue'가 있는지 확인하세요.
'blue' in d
# mydict의 길이를 출력하세요.
len(d)
# 'red'의 값을 출력하세요.
d['red']
# 'red'의 값을 10으로 수정하세요.
d['red'] = 10
# key값만 출력하세요
d.keys()
# value값만 출력하세요
d.values()
# key와 value를 튜플로 출력하세요.
d.items()
# (key기준으로 정렬하세요.)
sorted(d.items(), key = lambda x: x[0])
sorted(d)
# (value기준으로 정렬하세요)
sorted(d.items(), key = lambda x: x[1])
# key 'blue'요소를 삭제하세요
# del d['blue']
d.pop('blue')
d
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
d.get('pink')
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
d.setdefault('pink', 20)
# value에 20이 있는지 확인하세요.
20 in d.values()
# key는 'yellow'에 value는 30을 추가하세요.
d['yellow'] = 30
# yourdict = {'파랑':50, '빨강':70}을 합하세요..
d.update({'파랑':50, '빨강':70})
d

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 30, '파랑': 50, '빨강': 70}

### If

In [ ]:
# 조건식 => True/ False

# if 조건식:
#     실행코드
# elif 조건식:
#     실행코드
# elif 조건식:
#     실행코드
# else:
#     실행코드

In [12]:
# 점수를 입력받은 후 학점을 출력하시오..

score =  int(input('점수를 입력하세요'))
if score >= 90:
    print('A학점입니다')
elif 90 > score >= 80:
    print('B학점입니다')
elif 80 > score >= 70:
    print('C학점입니다')
else:
    print('D학점입니다..')

점수를 입력하세요95
A학점입니다

In [14]:
# 비밀번호 = 1234 인 경우 비밀번호를 입력받은 후 맞으면 '환영합니다'. 틀리면 
# '비밀번호가 틀립니다'를 출력하시오
passwd = int(input('비밀번호를 입력하세요'))

if passwd == 1234:
    print('환영합니다')
else:
    print('비밀번호가 틀립니다..')

비밀번호를 입력하세요2345
비밀번호가 틀립니다..

In [16]:
# 임의의 정수를 입력받은 후 짝수면 '짝수입니다' 홀수면 '홀수입니다'를 출력..

num = int(input('임의의 정수를 입력하세요'))

if num%2 ==0:
    print('짝수입니다')
else:
    print('홀수입니다')

임의의 정수를 입력하세요3
홀수입니다

In [17]:
# 주민번호 '851205-2000000'
# 주민번호를 입력받은 후 "당신의 나이는 __이고, 성별은 __입니다"를 출력하시오..

In [27]:
res_num = input('주민번호를 입력하세요')

birth_year = int(res_num[:2])
gender = res_num.split('-')[1][0]

# print(birth_year, gender)
age = 2022-(birth_year + 1900)

def to_sex(gender):
    if gender == '1':
        return '남성'
    elif gender == '2':
        return '여성'
    
sex = to_sex(gender)

print("당신의 나이는 {}세이고, 당신의 성별은 {}입니다".format(age, sex))

주민번호를 입력하세요775841-2354789
당신의 나이는 45세이고, 당신의 성별은 여성입니다

In [30]:
scores = {'Mary':85, 'Sam':95, 'Bob':87, 'Han':77}

# 이름을 입력받은 후 이름이 있으면 80점 이상이면 '합격입니다', 
# 이하이면 '불합격입니다'를 출력하시오, 이름이 없으면 값을 0으로 하여 추가하시오

nam = input('이름을 입력하시오')

if nam in scores.keys():
    score = scores[nam]
    if score >= 80:
        print('합격입니다')
    else:
        print('불합격입니다')
else:
    scores[nam] = 0
    print(scores)

이름을 입력하시오Kim

In [34]:
# 가위, 바위, 보 게임

mine = input('mine <= 가위, 바위, 보 중에서 하나를 선택하세요')
yours = input('yours <= 가위, 바위, 보 중에서 하나를 선택하세요')

if mine == yours:
    print('비겼습니다')
    
elif mine=='가위':
    if yours == '보':
        print('내가 이겼습니다')
    else:
        print('당신이 이겼습니다..')
        
elif mine=='보':
    if yours == '주먹':
        print('내가 이겼습니다')
    else:
        print('당신이 이겼습니다..')       
        
else:
    if yours == '가위':
        print('내가 이겼습니다')
    else:
        print('당신이 이겼습니다..')  


# 비겼습니다..
# 내가 이겼습니다..
# 당신이 이겼습니다..

mine <= 가위, 바위, 보 중에서 하나를 선택하세요주먹
yours <= 가위, 바위, 보 중에서 하나를 선택하세요가위
내가 이겼습니다

In [35]:
# 나이를 입력받은 후, 50대 이상이면 '중년이시군요', 20~40대이면 '젊으시군요', 
# 20세 미만이면 '어리시군요'를 출력..

In [38]:
age = int(input('나이를 입력하세요..'))

if age >= 50:
    print('중년이시군요')
elif 50 > age >= 20:
    print('젊으시군요')
else:
    print('어리시군요..')

나이를 입력하세요..35
젊으시군요

### 반복문

In [ ]:
# for 임시변수 in 군집형데이터:
#     실행코드
#     실행코드
#     ...

In [ ]:
# while 조건식:
#     실행코드
#     실행코드
#     ...

In [39]:
# 모음의 숫자를 계산하시오.. 단, 모듬은 'aeiouAEIOU'

text = 'computational thinking'
vowel = 'aeiouAEIOU'

suma = 0

for c in text:
    if c in vowel:
        suma += 1
suma

8

In [42]:
# word의 길이가 4 이상인 단어의  단어길이 총합을 구하시오

words = ['mountain', 'sea', 'sky', 'river', 'cloud', 'tree', 'lake']

suma = 0
for w in words:
    if len(w) >= 4:
        print(w, len(w))
        suma += len(w)
suma

mountain 8
river 5
cloud 5
tree 4
lake 4

26

In [45]:
# 두 리스트 원소간의 모든 조합을 리스트에 담으시오
# => [('a', '가'), ('a', '나'), ... ('d', '다'), ('d', '라')]

L1 = ['a','b','c','d']
L2 = ['가','나','다','라']

L = []

for i in L1:
    for j in L2:
        L.append((i, j))
        
L

[('a', '가'),
 ('a', '나'),
 ('a', '다'),
 ('a', '라'),
 ('b', '가'),
 ('b', '나'),
 ('b', '다'),
 ('b', '라'),
 ('c', '가'),
 ('c', '나'),
 ('c', '다'),
 ('c', '라'),
 ('d', '가'),
 ('d', '나'),
 ('d', '다'),
 ('d', '라')]

In [46]:
# for문과 while문을 이용해서 1부터 20까지의 정수에서 짝수의 합과 홀수의 합을 구하시오..

even_sum  = 0
odd_sum = 0

for i in range(1,21):
    if i%2 == 0:
        even_sum += i
    else:
        odd_sum += i
        
print(even_sum, odd_sum)

110 100

In [49]:
even_sum  = 0
odd_sum = 0
count = 0

while count < 21:
    
    if count%2 == 0:
        even_sum += count
    else:
        odd_sum += count
        
    count += 1
        
print(even_sum, odd_sum)

110 100

In [51]:
#  break와 continue를 이용해서 1부터 10까지 정수 중에서 4,5,6,7만을 출력하시오..

suma = 0
count = 0

while count < 10:
    count +=1
    
    if count < 4:
        continue    # 반복문에서 continue는 아래 부분을 실행하지 않고 반복문 처음으로 이동
    if count > 7:
        break  # 반복문에서 break는 반복을 중단하고 반복문을 빠져나온다..
        
    print(count)

4
5
6
7

In [53]:
# 점수를 5번 입력받은 후 평균점수를 출력하시오..

count = 0
suma = 0

while count < 5:
    
    score = int(input('점수를 입력하세요'))
    suma += score
    
    count += 1
    
print(suma/5)

점수를 입력하세요5
점수를 입력하세요5
점수를 입력하세요5
점수를 입력하세요5
점수를 입력하세요5
5.0

In [54]:
# 임의의 수를 입력받은 후 팩토리얼을 계산하는 코드를 작성하시오..
# 5! = 5*4*3*2*1

num = int(input('임의의 정수를 입력하시오..'))

result = 1

while num > 1:
    result *= num
    num -= 1
    
result

임의의 정수를 입력하시오..5

120

In [57]:
L = [70, 100, 80, 120, 130, 170, 30]

# 반복문을 이용해서 최대값과 최소값을 구하시오..

max_n = L[0]
min_n = L[0]

for n in L:
    if max_n < n:
        max_n = n
    if min_n > n:
        min_n = n
        
print("최대값 {}, 최소값 {}".format(max_n, min_n))

최대값 170, 최소값 30

In [58]:
# *
# **
# ***
# ****
# *****

In [60]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [61]:
# *****
#  ****
#   ***
#    **
#     *

In [62]:
for i in range(6):
    print(' '*i, '*'*(5-i))

 *****
  ****
   ***
    **
     *

In [ ]:
#     *
#    **
#   ***
#  ****
# *****

In [66]:
for i in range(5):
    print(' '*(4-i), '*'*(i+1))

     *
    **
   ***
  ****
 *****

In [67]:
# *****
# ****
# ***
# **
# *

In [68]:
for i in range(5):
    print('*'*(5-i))

*****
****
***
**
*

In [72]:
text = 'computational thinking'

# 홀수번 인덱스만 출력하시오..

for i in range(1, len(text), 2):
    print(text[i], end=' ')

o p t t o a   h n i g

In [73]:
# 구구단 출력하기..

In [78]:
for i in range(1, 10):
    for j in range(1, 10):
        print("{1}*{0}={2:>2}".format(i, j, i*j), end='  ')
    print()

1*1= 1  2*1= 2  3*1= 3  4*1= 4  5*1= 5  6*1= 6  7*1= 7  8*1= 8  9*1= 9
1*2= 2  2*2= 4  3*2= 6  4*2= 8  5*2=10  6*2=12  7*2=14  8*2=16  9*2=18
1*3= 3  2*3= 6  3*3= 9  4*3=12  5*3=15  6*3=18  7*3=21  8*3=24  9*3=27
1*4= 4  2*4= 8  3*4=12  4*4=16  5*4=20  6*4=24  7*4=28  8*4=32  9*4=36
1*5= 5  2*5=10  3*5=15  4*5=20  5*5=25  6*5=30  7*5=35  8*5=40  9*5=45
1*6= 6  2*6=12  3*6=18  4*6=24  5*6=30  6*6=36  7*6=42  8*6=48  9*6=54
1*7= 7  2*7=14  3*7=21  4*7=28  5*7=35  6*7=42  7*7=49  8*7=56  9*7=63
1*8= 8  2*8=16  3*8=24  4*8=32  5*8=40  6*8=48  7*8=56  8*8=64  9*8=72
1*9= 9  2*9=18  3*9=27  4*9=36  5*9=45  6*9=54  7*9=63  8*9=72  9*9=81

### File

In [ ]:
# 1. 파일을 연다 - open(), => 모드를 설정 : 'r', 'w'
# 2. 파일을 읽거나 쓴다 - read(), write()
# 3. 파일을 닫는다 - close()

# f = open('filename', 'r') 
# text = f.read()
# f.close()

# with open('filename', 'r') as f:   # with 구문 : close()를 자동으로 수행..
#     text = f.read()  

# f = open('filename', 'w')
# f.write(text)
# f.close()

# with open('filename', 'w') as f:
#     f.write(text)

In [80]:
# 인터넷 뉴스 텍스트를 'news.txt'파일로 저장하시오..

news = """
16일 오후 서울역 대합실에서 시민들이 윤석열 국민의힘 대선후보 부인 김건희씨의 7시간 
통화록을 다룬 MBC 시사프로그램 스트레이트를 시청하고 있다. 뉴스1
더불어민주당 인사들이 17일 윤석열 국민의힘 대선후보의 배우자 김건희씨의 
'7시간 통화’ 보도와 관련해 ‘제2의 최순실’, ‘국정농단 시즌2’ 등의 표현을 쓰며 
십자포화를 퍼부었다. 김씨가 사실상의 비선 실세라는 프레임을 노린 것이다. 
다만 당 차원에서는 섣부른 공세로 지난해 4·7 서울시장 보궐선거 당시 '생태탕' 
논란처럼 네거티브 프레임에 갇힐 것을 우려해 대응 수위를 조절하는 모습이다.

현근택 민주당 선거대책위원회 대변인은 이날 CBS 라디오에서 "그동안 캠프에 관여 안 
한다, 관계없다는 얘기들이 사실이 아니었다"며 "'최순실 시즌2' 아니냐"고 했다. 
추미애 전 법무부 장관도 페이스북에 "시청 소감은 보수 정당이 다시 한 여인에 의해 
완벽하게 접수돼 선거를 조종당하고 있다는 것"이라고 비판했다.
"""
f = open('news.txt', 'w')
f.write(news)
f.close()

# with open('news.txt', 'w') as f:
#     f.write(news)

In [ ]:
# 'news.txt' 파일을 4가지 다른 방식으로 열어서 출력하시오

In [82]:
# 1

f = open('news.txt', 'r')
text = f.read()
f.close()

print(text)

# with open('news.txt', 'r') as f:
#     text = f.read()

16일 오후 서울역 대합실에서 시민들이 윤석열 국민의힘 대선후보 부인 김건희씨의 7시간
통화록을 다룬 MBC 시사프로그램 스트레이트를 시청하고 있다. 뉴스1
더불어민주당 인사들이 17일 윤석열 국민의힘 대선후보의 배우자 김건희씨의
'7시간 통화’ 보도와 관련해 ‘제2의 최순실’, ‘국정농단 시즌2’ 등의 표현을 쓰며
십자포화를 퍼부었다. 김씨가 사실상의 비선 실세라는 프레임을 노린 것이다.
다만 당 차원에서는 섣부른 공세로 지난해 4·7 서울시장 보궐선거 당시 '생태탕'
논란처럼 네거티브 프레임에 갇힐 것을 우려해 대응 수위를 조절하는 모습이다.

현근택 민주당 선거대책위원회 대변인은 이날 CBS 라디오에서 "그동안 캠프에 관여 안
한다, 관계없다는 얘기들이 사실이 아니었다"며 "'최순실 시즌2' 아니냐"고 했다.
추미애 전 법무부 장관도 페이스북에 "시청 소감은 보수 정당이 다시 한 여인에 의해
완벽하게 접수돼 선거를 조종당하고 있다는 것"이라고 비판했다.

In [83]:
f = open('news.txt', 'r')
text = f.readlines()
f.close()

print(text)

['\n', '16일 오후 서울역 대합실에서 시민들이 윤석열 국민의힘 대선후보 부인 김건희씨의 7시간 \n', '통화록을 다룬 MBC 시사프로그램 스트레이트를 시청하고 있다. 뉴스1\n', '더불어민주당 인사들이 17일 윤석열 국민의힘 대선후보의 배우자 김건희씨의 \n', "'7시간 통화’ 보도와 관련해 ‘제2의 최순실’, ‘국정농단 시즌2’ 등의 표현을 쓰며 \n", '십자포화를 퍼부었다. 김씨가 사실상의 비선 실세라는 프레임을 노린 것이다. \n', "다만 당 차원에서는 섣부른 공세로 지난해 4·7 서울시장 보궐선거 당시 '생태탕' \n", '논란처럼 네거티브 프레임에 갇힐 것을 우려해 대응 수위를 조절하는 모습이다.\n', '\n', '현근택 민주당 선거대책위원회 대변인은 이날 CBS 라디오에서 "그동안 캠프에 관여 안 \n', '한다, 관계없다는 얘기들이 사실이 아니었다"며 "\'최순실 시즌2\' 아니냐"고 했다. \n', '추미애 전 법무부 장관도 페이스북에 "시청 소감은 보수 정당이 다시 한 여인에 의해 \n', '완벽하게 접수돼 선거를 조종당하고 있다는 것"이라고 비판했다.\n']

In [86]:
f = open('news.txt', 'r')
text = f.readline()

while text:
    print(text)
    text = f.readline()

f.close()

16일 오후 서울역 대합실에서 시민들이 윤석열 국민의힘 대선후보 부인 김건희씨의 7시간

통화록을 다룬 MBC 시사프로그램 스트레이트를 시청하고 있다. 뉴스1

더불어민주당 인사들이 17일 윤석열 국민의힘 대선후보의 배우자 김건희씨의

'7시간 통화’ 보도와 관련해 ‘제2의 최순실’, ‘국정농단 시즌2’ 등의 표현을 쓰며

십자포화를 퍼부었다. 김씨가 사실상의 비선 실세라는 프레임을 노린 것이다.

다만 당 차원에서는 섣부른 공세로 지난해 4·7 서울시장 보궐선거 당시 '생태탕'

논란처럼 네거티브 프레임에 갇힐 것을 우려해 대응 수위를 조절하는 모습이다.



현근택 민주당 선거대책위원회 대변인은 이날 CBS 라디오에서 "그동안 캠프에 관여 안

한다, 관계없다는 얘기들이 사실이 아니었다"며 "'최순실 시즌2' 아니냐"고 했다.

추미애 전 법무부 장관도 페이스북에 "시청 소감은 보수 정당이 다시 한 여인에 의해

완벽하게 접수돼 선거를 조종당하고 있다는 것"이라고 비판했다.

In [87]:
f = open('news.txt', 'r')

for line in f:
    print(line)

16일 오후 서울역 대합실에서 시민들이 윤석열 국민의힘 대선후보 부인 김건희씨의 7시간

통화록을 다룬 MBC 시사프로그램 스트레이트를 시청하고 있다. 뉴스1

더불어민주당 인사들이 17일 윤석열 국민의힘 대선후보의 배우자 김건희씨의

'7시간 통화’ 보도와 관련해 ‘제2의 최순실’, ‘국정농단 시즌2’ 등의 표현을 쓰며

십자포화를 퍼부었다. 김씨가 사실상의 비선 실세라는 프레임을 노린 것이다.

다만 당 차원에서는 섣부른 공세로 지난해 4·7 서울시장 보궐선거 당시 '생태탕'

논란처럼 네거티브 프레임에 갇힐 것을 우려해 대응 수위를 조절하는 모습이다.



현근택 민주당 선거대책위원회 대변인은 이날 CBS 라디오에서 "그동안 캠프에 관여 안

한다, 관계없다는 얘기들이 사실이 아니었다"며 "'최순실 시즌2' 아니냐"고 했다.

추미애 전 법무부 장관도 페이스북에 "시청 소감은 보수 정당이 다시 한 여인에 의해

완벽하게 접수돼 선거를 조종당하고 있다는 것"이라고 비판했다.

In [88]:
# with open('filename', 'r') as f:

# 1     text = f.read()       - 전체 text를 한 번에 읽는다
# 2     text = f.readlines()  - 한 문장씩 리스트에 담아서 출력..
# 3     text = f.readline()   - 한 문장을 읽는다
# 4     for line as f:        - 파일 객체를 for을 이용해서 한 문장씩 출력
#         pass